input {
    height: 25px;
}
label{
    width: 150px; 
    display: inline-block ;
    text-align: right;
    
}
h1 {
    border-bottom: 2px solid blue ;

}
div {
    width: 370px;
    margin: auto;
    position: center;
}