/* General */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');
html {
    height: 100%;
}
/* steluta de mai jos inseamna orice element html */
* {
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: whitesmoke;
    color: thistle;
}
/* 1em este undeva 14 px */
p{
    padding: 0 0 20px 0;
    line-height: 1.7em;
}
img {
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(178, 108, 22);
    letter-spacing: 0;
    padding: 0 0 5px 0;
}
h1, h2, h3{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Kanit', sans-serif;  
    font-size: 1.5em;
    margin: 0 0 15 0;
    padding: 15 0 5 0;
    color: black;
}
h2{
    font-family: 'Kanit', sans-serif;
    font-size: 160%;
    padding: 9px 0 5px 0;
    color: rgb(229, 140, 177);
}
h3{
    font-size: 140%;
    padding: 5px 0 0 0;
}
h4, h6{
    color: crimson;
    padding: 0 0 5px 0;
    font: normal 110% arial;
    text-transform: uppercase;
}
h5,h6{
    color: #888;
    font: normal 95% arial;
    letter-spacing: normal;
    padding: 0 0 15px 0;
}

a, a:hover {
    outline: none;
    text-decoration: underline;
    color: #B48A7C;
}
a:hover{
    text-decoration: none;
    color: #5e4238;
}
ul {
margin: 2px 0 22px 17px;
}
ul li {
    list-style-type: circle;
    margin: 0 0 6px 0;
    padding: 0 0 4px 5px;
    line-height: 1.5em;
}
ol {
    margin: 8px 0 22px 20px;
}
ol li {
    margin: 0 0 11px 0;
}
.left {
    float: left;
    width: auto;
    margin-right: 10px;
}
.right {
    float: right;
    width: auto;
    margin-left: 10px;
}
.center {
    display: block;
    text-align: center;
    margin: 20px auto;
}
#main, #logo, #menubar, #site_content, #footer {
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
#header {
    background-image: url(../img/coffe.jpg);
    background-size: cover;
    border-bottom: 1px solid #B48A7C;
    height: 250px;
}
#logo {
    width: 100%;
    max-width: 1000px;
    position: absolute center;
    height: 205px;
    background: rgb(29, 29, 29, 0.65);
}
#logo, #logo_text {
    position: absolute center;
    top: 10px;
    left: 0;
}
#logo h1, #logo h2 {
    border-bottom: 0;
    text-transform: none;
    margin: 0 0 0 9px;
}
#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
    padding: 22px 0 0 0 ;
    color: #ffffff;
    letter-spacing: 0.1em;
    text-decoration: none;
}
#logo_text h1 a  .logo_colour {
    color: #f54709;
}
#logo_text a:hover .logo_colour {
    /* #5E4238 */
    color: #ffffff;
}
#logo_text h2 {
    font-size: 120%;
    padding: 4px 0 0 0;
    color: #B48A7C;
}

/* MENIU */
#menubar {
    width: 872px;
    height: 45px;
    padding-right: 70px;
    background: #2D2D2D;
    border-top: 1px solid #3D3D3D;
}
ul#menu {
float: right;
margin: 0;
}
ul#menu li {
    float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 8px 4px 0 4px;
}
ul#menu li a {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Kanit', sans-serif;
    display: block;
    float: left;
    height: 20px;
    padding: 6px 20px 5px 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background: #5e4238;
}
ul#menu li.selected a {
    height: 20px;
    padding: 6px 20px 5px 11px;
}
ul#menu li.selected {
    margin: 8px 4px 0 13px;
    background: #B48A7C;
}
ul#menu li.selected a, ul#menu li.selected a:hover {
    background: #B48A7C;
    color: #ffffff;
}
ul#menu li a:hover {
    color: #B48A7C;
}

/*  BANNER */
#banner {
    /* background: transparent url(../img/coffee1.jpg) no-repeat; */
    /* mai jos avem aceeasi chestie doar ca pe lung */
    background-image: url(../img/cof4.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    max-width: 980px;
    height: 180px;
    margin-bottom: 20px;
    border: 10px double #5e4238;
    /* border-style: double; */
}

/* MAIN */
#site_content {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    padding: 0 0 10px 0;
}
#content {
    text-align: left;
    width: 100%;
    max-width: 768px;
    padding: 0 0 0 5px;
    float: left;
    border: 1px red dotted;
}
#content ul {
    margin: 2px 0 22px 0px;
}
#content ul li, .sidebar ul li {
    list-style-type: none;
    background: url(../img/coffee2.jpg) no-repeat;
    margin: 0 0 0 0 ;
    padding: 0 0 4px 25px;
    line-height: 1.5em;
}
#sidebar_container {
    float: right;
    width: 100%;
    max-width: 220px;
    border: 1px red dotted;
}
.row {
    width: 100%;
    margin: 20px auto;
}
.col-4 {
    width: 30%;
    float: left;
    padding: 0 10px;
}
.col-4>img {
    width: 100%;
    max-height: 200px;
}
.sidebar {
    float: right;
    width: 100%;
    padding: 0;
    margin: 0 0 16px 0;
}
.sidebar li a.selected {
    color: #444444;
}
.sidebar ul { margin: 0;}

/* FOOTER */
#footer {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    height: 80px;
    padding: 28px 0 5px 0;
    text-align: center;
    background: #000000;
    border-top: 2px solid #2D2D2D;
    color: #ffffff;
}
#footer p {
    line-height: 1.7em;
    padding: 0 0 10px 0;
}
#footer a {
    color: #ffffff;
    text-decoration: none;
}
#footer a:hover {
    color: #B48A7C;
    text-decoration: none;
}
.search {
    color: #5d5d5d;
    border: 1px solid #bbbbbb;
    width: 134px;
    padding: 4px;
    font: 100% arial, sans-serif;
}
.form_settings {
    margin: 15px 0 0 0 ;
}
.form_settings p {
    padding: 0 0 4px 0;
}
.form_settings span {
    float: left;
    width: 200px;
    text-align: left;
}
.form_settings input, .form_settings textarea {
    padding: 5px;
    width: 299px;
    font: 100% arial;
    border: 1px solid #e5e5db;
    background: #ffffff;
    color: #47433f;
}
.form_settings .submit {
    font: 100% arial;
    border: 0;
    width: 99px;
    margin: 0 0 0 212px;
    height: 33px;
    padding: 3px 0 3px 0; 
}